body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    background-color: brown; /* Brown button color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover,
.btn:focus {
    background-color: #8b4513; /* Darker brown on hover/focus */
}

.hidden {
    display: none;
}
